body{
  overflow-y: scroll;
}

.card:not(section) {
  margin: 10px;
}

section{
  margin: 0 auto;
  width: 80%;
  min-width: 560px;
}

.term-title{
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}